    <!-- Outlook begins here -->
    <table class="outlook">
        <tbody>
            <tr>
                <td>
                    {% include 'common/header-outlook.html' %}

                    <table class='opo-content outlook' style="width: 100%; padding: 0px; border: none; align-items: center;">
                        <tbody>
                            <tr>
                                <td>

                                    <h3>{{t('title')}}</h3>

                                    <table style="width: 100%;" cellpadding="20">
                                        <tbody>
                                            <tr>
                                                <td style="text-align: center;">
                                                    <p>{{ t('updatedResponse') }}</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <br/> <br/>

                                    {% include 'complaint/form-data-outlook.html' %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- Outlook ends here -->
