<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
{% include 'email/officepoliceoversight/common/head.html' %}
<body>
  {% include 'email/officepoliceoversight/common/header.html' %}
  <div class='form-content'>
    <h3>{{t('title')}}</h3>

    <div>
      {% if language_code() == 'es' %}
          <p>Gracias por compartir su experiencia con nosotros, esto nos ayuda a servirles mejor a usted y a su comunidad.</p>

          <p>Sus comentarios serán enviados a la Oficina de Fiscalización de la Policía y a la División de Asuntos Internos del Departamento de Policía de Austin, así como a la cadena de comando del oficial.</p>
      {% else %}
          <p>Thank you for sharing your experience with us. This helps us better serve you and your community.</p>

          <p>Your feedback will go to the Office of Police Oversight and the Austin Police Department’s Internal Affairs Division, as well as to the officer’s chain of command.</p>
      {% endif %}
    </div>

  {% include 'email/officepoliceoversight/complaint/form-data.html' %}

  {% include 'email/officepoliceoversight/common/footer.html' %}

  </div>

</body>
</html>
