<html>
  <head>
    <style>
      body {
        margin: 20px;
        background-color: #d3d3d3;
        font-family: Arial, Verdana, sans-serif;
      }
      h1   {color: darkblue;}
      p    {color: red;}
      footer {
        border-top: 2px solid black;
        margin-top: 40px;
        padding-top: 20px;
      }
      .form-data {
        margin-top: 40px;
      }
    </style>
  </head>
<body>
  <h1>Office of Police Oversight</h1>

  <h3>Form Submission: {{type}}</h3>
  <h3>Case Number: {{casenumber}}</h3>

  <div class='form-data'>{{content}}</div>

  <footer>Copyright &copy; {{year}} - Office of Design and Delivery, Austin TX</footer>
</body>
</html>
